@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

/***************UPPER NAV************/
.contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
  flex-wrap: wrap;
}
.iconssection{
  display: flex;
  align-items: center;
}
.nav{
  border-bottom: 0.1px solid #C6C6C6;
}
.SearchIcon{
 border: none;
 outline: none;
 border-bottom: 1px solid #C6C6C6;
}
.Searchdiv>.MuiSvgIcon-root{
  color: #C6C6C6;
  cursor: pointer;
  margin: 0 2px;
}
.logo-img{
  width: 125px;
}
.iconssection>div{
  margin: 0 10px;
}
.usersection>.MuiSvgIcon-root{
  margin: 0 5px;
}
.nav-border{
  height: 0.1px;
  background-color: lightgrey;
}

/***************USERINFO************/
.moret__in{
  display: flex;
  align-items: center;
  padding: 0px 25px;
}
.moret__in>p{
  margin-top: 15px;
}

.moret__in>.MuiSvgIcon-root{
margin-right: 10px;
color:grey;
}

.moret>hr{
  margin-bottom: 0;
  margin-top: 0;
  height: 0.1px;
  background-color: #c2c2c2;
  border: none;
}
.moret__in:hover{
  background-color: rgb(245, 243, 243);
  cursor: pointer;
}
.tippy-content{
  padding: 0;
}

/*************NAVBAR************/

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
nav ul li{
  margin: 0 15px;
}
nav ul li:hover{
  border-bottom: 2px solid #ADE1C5;
}
nav ul li a{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
 font-size: 12px;
}
nav ul li a:hover{
  color: #ADE1C5;
}

/**********************SLIDER***********/

.slider{
  background-color: #ADE1C5;
  height: 400px;
}
.slider-heading{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.slider-heading2{
  display: flex;
  justify-content: center;
  
}
.slide-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img1{
 height: 200px;
}
.slide-cap{
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  padding: 0 15px;
  font-size: 50px;
}
.slide-cap2{
  text-transform: uppercase;
}

/*************************categories***************/

.categories{
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}
.categories span{
  padding: 10px 15px; /**ei 15px padding er jonno responsive e faka thake,padding komai dete hbe devicde onujai*/
  font-size: 12px;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
  cursor: pointer;
}
.categories span:hover{
  background-color: #ececec;
  border-radius: 3px;
}
.categories-hr{
  height: 0.1px;
  background-color: #c2c2c2;
}


